.container {
  max-width: 900px; }
.header {
  margin-top: 6rem;
  text-align: center; }
.title {
  font-size: 3.5rem;
  letter-spacing: .2rem;
  font-weight: 500;
  color: #27b5ea }
.value-bar {
  margin-top: 1rem; }
.value-bars {
  margin-top: 3rem;
  margin-bottom: 3rem; }
