/* Main CSS */

.container {
  max-width: 900px; }
.header {
  margin-top: 0rem;
  margin-bottom: 3rem;
  text-align: center; }
.closer {
  margin-top: 3rem;
  text-align: center; }
.title {
  margin-top: 2rem;
  font-size: 3.8rem;
  letter-spacing: .2rem;
  font-weight: 500;
  color: #27b5ea }
.compoundText {
  font-size: 1.5rem;
  letter-spacing: .1rem;
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
  color: #27b5ea }
.value-bar {
  margin-top: 1rem; }
.value-bars {
  margin-top: 1rem;
  margin-bottom: 2rem; }
.value-image {
    display: block;
    text-align: center;
    margin: 2rem auto 0;
    width:20rem;
    height:12rem; }
.docs-header {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: .1rem;
  font-weight: 600;
  color: #219ac6; }
.docs-subheader {
  margin-top: 1rem;
  font-size: 2rem;
  letter-spacing: .2rem;
  font-weight: 400; }
.docs-section {
  border-top: 2px solid #34373a;
  padding: 4rem 0;
  margin-bottom: 0; }
.docs-section-intro {
  border-top: 2px solid #27b5ea;
  padding: 2rem 0;
  margin-bottom: -1rem; }
.docs-section-main {
  border-top: 2px solid #27b5ea;
  padding: 4rem 0;
  margin-bottom: 0; }
.closer-text {
  border-top: 2px solid #27b5ea;
  padding: 1rem 0;
  font-size: 1rem;
  letter-spacing: .05rem; }
.closer-text2 {
  margin-top: -3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  letter-spacing: .05rem; }
.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0;
  max-width:100%;
  max-height:100%}
.header-img {
  display: block;
  text-align: center;
  margin: 1rem auto 0;
  max-width:100%;
  max-height:100%}
.illustration img {
  max-width: 35%;
  display: block;
  text-align: center;
  margin: 1rem auto 0 }
.logbox {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  align: center;
  background-color: #F5F5F5;
  padding-top: 1rem 0;
  padding-bottom: 10rem 0;
  max-width: 100%;
  max-height: 300px;
}

  /* Slideshow */
* {box-sizing:border-box}

.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto; }
.mySlides {
  display: none; }
/* Previous and next buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2rem;
  padding: 2rem;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }
.next {
  right: 0;
  border-radius: .3rem 0 0 .3rem; }
.prev {
  left: 0;
  border-radius: .3rem 0 0 .3rem; }
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8); }
/* Slideshow Captions */
.textSlides {
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .8rem 1.2rem;
  position: absolute;
  bottom: 0.6rem;
  background-color: rgba(0,0,0,0.8);
  width: 100%
  text-align: center; }
.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.2rem;
  background-color: #27b5ea;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0.75;  }
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1} }
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1} }

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .value-img2 {
    margin-bottom: 1rem; }
.docs-section {
  padding: 6rem 0; }

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
