/* Main CSS */
.container {
  max-width: 900px; }
.header {
  margin-top: 6rem;
  text-align: center; }
.title {
  font-size: 3.5rem;
  letter-spacing: .2rem;
  font-weight: 500;
  color: #27b5ea }
.compoundText {
  font-size: 1.5rem;
  letter-spacing: .1rem;
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
  color: #27b5ea }
.value-bar {
  margin-top: 0rem; }
.value-bars {
  margin-top: 1rem;
  margin-bottom: 2rem; }
.value-image {
    display: block;
    text-align: center;
    margin: 2rem auto 0;
    width:20rem;
    height:12rem; }
.docs-header {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: .1rem;
  font-weight: 600;
  color: #219ac6; }
.docs-subheader {
  margin-top: 1rem;
  font-size: 2rem;
  letter-spacing: .2rem;
  font-weight: 400; }
.docs-section {
  border-top: 2px solid #ebecf0;
  padding: 4rem 0;
  margin-bottom: 0;}
.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0;
  max-width:110%;
  max-height:110%}
.header-img {
    display: block;
    text-align: center;
    margin: 1rem auto 0;
    max-width:100%;
    max-height:100%}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
.docs-section {
  padding: 6rem 0; }

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
